<div class="create-form">
  <div class="header">SKAPA FORMULÄR</div>
  <form [formGroup]="createForm" (ngSubmit)="onMainSubmit()">
    <div class="row">
      <div class="columns col-sm-6">
         <div class="input-element approve">
          <span>Vi godkänner att Knipen Sverige kontrollerar vär kreditvärdighet mot externa register</span>
          <nz-radio-group formControlName="Approve">
            <label nz-radio style="display: block; height: 30px; line-height: 30px;" nzValue="yes">Ja</label>
            <label nz-radio style="display: block; height: 30px; line-height: 30px;" nzValue="no">Nej</label>
          </nz-radio-group>
        </div>
        <div class="input-element category-service">
          <span class="title">KATEGORI TJÄNST</span>
          <nz-select nzShowSearch nzAllowClear formControlName="Category">
            <nz-option nzLabel="1" nzValue="1"></nz-option>
            <nz-option nzLabel="2" nzValue="2"></nz-option>
            <nz-option nzLabel="3" nzValue="3"></nz-option>
          </nz-select>
        </div>
        <div class="input-element recruiting">
          <span class="title">ANTAL ÄR SOM <br />REKRYTERINGSKONSULT</span>
          <nz-slider
            [nzStep]="10"
            formControlName="Recruiting"
            nzTooltipVisible="never"
            style="width: 100%;"
          ></nz-slider>
          <div class="importance-values">
            <span>Stor</span>
            <span>Mellan</span>
            <span>Liten</span>
          </div>
        </div>
        <div class="input-element approve">
          <nz-radio-group formControlName="SetPoint">
            <label nz-radio style="display: block; height: 30px; line-height: 30px;" nzValue="required">Skallkrav</label>
            <label nz-radio style="display: block; height: 30px; line-height: 30px;" nzValue="setpoint">Börvärde</label>
          </nz-radio-group>
        </div>
      </div>
      <div class="columns col-sm-6"></div>
    </div>
  </form>
  <div class="buttons col-sm-12">
    <button class="next-step" nz-button [nzSize]="large" nzType="default" (click)="createModal()">Skapa en ny form</button>
    <button class="next-step" nz-button [nzSize]="large" nzType="danger" (click)="onMainSubmit()">Nästa steg</button>
  </div>
  <nz-modal [nzFooter]="null" nzMaskClosable="false" nzClosable="false" [(nzVisible)]="modalIsVisible" nzTitle="LÄGG TILL FÄLT" (nzOnOk)="handleAdd()">
    <div class="add-field-content">
      <div class="type-of-field" *ngIf="!addFieldInfoShow">
        <div class="title">TYP AV FÄLT</div>
        <nz-select nzShowSearch nzAllowClear [(ngModel)]="type_of_field" (ngModelChange)="changeSelect($event)" >
          <nz-option nzLabel="1" nzValue="1"></nz-option>
          <nz-option nzLabel="2" nzValue="2"></nz-option>
          <nz-option nzLabel="3" nzValue="3"></nz-option>
        </nz-select>
      </div>
      <div *ngIf="addFieldInfoShow">
        <form [formGroup]="addFieldForm" (ngSubmit)="onAddFieldSubmit()">
          <input class="multiple-choice" nz-input placeholder="FLERVALSFRÅGA" formControlName="MultipleChoice" />
          <div class="field-content">
            <label nz-checkbox formControlName="firstCheck"></label>
            <input nz-input formControlName="firstValue"/>
          </div>
          <div class="field-content">
            <label nz-checkbox formControlName="secondCheck"></label>
            <input nz-input formControlName="secondValue"/>
          </div>
          <div class="add-content">Lägg till ytterligare fält</div>
        </form>
      </div>
      <button class="add" nz-button [nzSize]="large" nzType="danger" (click)="onAddFieldSubmit()">Lägg till</button>
    </div>
  </nz-modal>
</div>